@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes float-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.animate-float-up {
  animation: float-up 3s ease-out forwards;
}
